<%= link_to edit_trainer_path(trainer) do %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="scoremarker <%= trainer.team.color %>">
      <h4 class="scoremarker__team-label"><%= trainer.name %></h4>
    </div>
  </div>
<% end %>
